<div class="container-fluid">
    <h1>Contact Us</h1>
    <p>If you have any questions or concerns, please don't hesitate to get in touch with us. You can reach us using the contact information below.</p>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Safari Developers</h5>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> 175 Safari Street, Toronto, ON M5V 3H5</li>
                        <li class="list-group-item"><i class="fas fa-phone-alt"></i> (437) 111-1111</li>
                        <li class="list-group-item"><i class="fas fa-envelope"></i> safaridevelopers@notsetup.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contact Form</h5>
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="5" required></textarea>
                        </div>
                        <button type="submit" (click)="sendButtonClick()" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="/home" role="button">Return To Home Page</a>
</div>
<br><br><br>