<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1>About Me</h1>
            <p>My name is Aqeish Parvez, and I am doing an Advanced Diploma in Software Engineering and Technology at Centennial College. I have a Bachelor of Sciences majoring in computer sciences and a Master of Public Administration. I have 10 years of experience working in team environments in the corporate sector while regularly leading and motivating team members to achieve company objectives. This experience combined with my education and project-based experience in mobile development, web application development and database management skills using Java, C#, Python, Angular, and SQL to name a few will make me a valuable team member and contributor in any software development role.</p>
            <div class="col-md-10 text-center">
                <a href="/register" class="btn btn-warning" style="width: 15ch ;" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                      </svg>
                    Register
                </a>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="../../assets/img/Aqeish.gif" class="img-thumbnail" alt="Team Logo" width="300" height="300">
            <br>
            <a href="../../assets/documents/Resume.pdf" class="btn btn-primary" role="button" download="Aqeish Parvez - Resume">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
                    <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                  </svg>
                Download Resume
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>My Mission</h2>
            <p>Energetic, detail oriented and goal driven professional with 10 years of experience in banking, insurance, and SaaS industry combined with software engineering education, aspiring to obtain a position as a Software Developer.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Hard Skills</h2>
            <ul>
                <li>Java, JavaScript, C#, Python and Typescript</li>
                <li>SQL, NoSQL and MongoDB</li>
                <li>Github</li>
                <li>Website development/Web Application Development</li>
                <li>Mobile Application Development</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Soft Skills</h2>
            <p>Our survey creation tool is built on the latest web technologies to ensure fast and reliable performance. We use cutting-edge encryption and security practices to keep your data safe and secure.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Our Values</h2>
            <ul>
                <li><strong>Innovation:</strong> We are always looking for new and better ways to solve problems and create value for our customers.</li>
                <li><strong>Customer Focus:</strong> Our customers are at the heart of everything we do. We strive to exceed their expectations and provide them with the best possible experience.</li>
                <li><strong>Integrity:</strong> We believe in doing the right thing, even when it's difficult. We are transparent and honest in our dealings with customers, partners, and employees.</li>
            </ul>
        </div>
        <div>
            <h2>Summary of Qualifications</h2>
            <ul>
            <li>Master of public administration, bachelor in sciences majoring in computer science and two-year advanced diploma in software engineering technology in progress</li>
            <li>Knowledge of object-oriented design and programming and coding experience in C#, .NET, Java, JavaScript, and Python including writing code, testing, and performing technical analysis using modern software designs and best practices for software development</li>
            <li>Knowledge of web technologies including REST APIs, HTML, Node JS, Express JS, Angular and willingness to learn Vue.js, asp.net and CSS</li>
            <li>Knowledge of technologies and microservices including WebAPI, REST and JSON, and Saas architectures and workloads</li>
            <li>Experience using Microsoft Azure and Azure DevOps, continuous improvement and continuous development (CI/CD) for cloud website deployment, GitHub for version control and SQL and MongoDB for database management</li>
            <li>10 years of experience in increasing efficiency, coherence, and productivity through research & development (RD) while working in agile development teams and dynamic environment within banking, insurance, financial technology, and SaaS industries</li>
            <li>Productive, personable, creative, team player, team focused, works well independently, reliable, passionate, caring, collaborative and committed with positive attitude, passion, flexibility, reliability, interpersonal skills and verbal and written communication skills</li>
            </ul>
        </div>
    </div>
</div>
<br><br><br>