<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1>About Us</h1>
            <p>Safari Developers is a startup web-application development company that operates locally but provides software solutions globally. Established in 2023 by Aqeish Parvez, Shemal Grey and Saima Patel, Safari developers is most famous for their easy to use survey creation tool. Survey creator tool allows users to create a survey and also maintain a list of surveys for later use.</p>
            <div class="col-md-10 text-center">
                <a href="/register" class="btn btn-warning" style="width: 15ch ;" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                      </svg>
                    Register
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/img/Logo.gif" class="img-thumbnail" alt="Team Logo" width="300" height="300">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Our Mission</h2>
            <p>Our mission is to empower businesses and individuals to gather feedback and insights from their audiences through easy-to-use survey tools.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Our Team</h2>
            <ul>
                <li>Aqeish Parvez - Co-founder and CEO</li>
                <li>Shemal Grey - Co-founder and CTO</li>
                <li>Saima Patel - Co-founder and COO</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Our Technology</h2>
            <p>Our survey creation tool is built on the latest web technologies to ensure fast and reliable performance. We use cutting-edge encryption and security practices to keep your data safe and secure.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Our Values</h2>
            <ul>
                <li><strong>Innovation:</strong> We are always looking for new and better ways to solve problems and create value for our customers.</li>
                <li><strong>Customer Focus:</strong> Our customers are at the heart of everything we do. We strive to exceed their expectations and provide them with the best possible experience.</li>
                <li><strong>Integrity:</strong> We believe in doing the right thing, even when it's difficult. We are transparent and honest in our dealings with customers, partners, and employees.</li>
            </ul>
        </div>
    </div>
</div>
<br><br><br>