<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1> Aqeish Parvez </h1>
            <div class="alert alert-light">
                <div class="text-center">
                <img src="../../assets/img/Potrait.jpg" class="img-fluid img-thumbnail" alt="Resposnive image" width="605" height="630">
                <hr>
                <p class="text-center" style="color: black;">Energetic, detail oriented and goal driven professional with 10 years of experience in banking, insurance, and SaaS industry combined with software engineering education, aspiring to become a Software Developer.</p>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="col-md-6">
            <h2 style="color: black;">About Me</h2>
            <hr>
            <p class="h6 fw-normal text-justified">My name is Aqeish Parvez, and I am doing an Advanced Diploma in Software Engineering and Technology at Centennial College. I have a Bachelor of Sciences majoring in computer sciences and a Master of Public Administration. I have 10 years of experience working in team environments in the corporate sector while regularly leading and motivating team members to achieve company objectives...</p>
            <div class="col-md-12 text-center">
                <a href="/about" class="btn btn-dark text-nowrap" style="width: 15ch ;" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                    </svg>
                    Read More
                </a>
            </div>
            <br>
            <div class="alert alert-secondary">
            <h2 style="color: black;">Testimonials</h2>
            <hr>
            <div class="overflow-auto w-100" style="height: 47.5ch;">
                <figure class="text-left">
                    <blockquote class="blockquote">
                        <img src="../../assets/img/suki.jpeg" class="img-fluid img-thumbnail rounded-circle float-end" alt="Resposnive image" width="120" height="130">
                    <p class="h6 fw-normal" style="color: black;">"I had the pleasure of working with Aqeish on my Team. Aqeish has shown tremendous potential from the first day I've met him. He always comes to work with a lot of positive energy and has an optimistic outtake on new ideas/changes that would help improve the team's overall efficiency. Aqeish has shown many leadership skills early on and has taken on various leadership roles throughout his journey on my team. He developed multiple excel sheets that helped the team and myself with managing their schedules and availability to help the clients. He has helped the team with improving their overall customer service skills that helped everyone achieve their individual and team goals. Due to the results and positive attitude since joining my team he has achieved many acknowledgments such as Employee of the Month. It was an amazing experience to work with Aqeish and I hope the best for his future endeavors."</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Sukirthan Sirigantharayan, Team Manager at TD Insurance
                    </figcaption>
                </figure>
                <figure class="text-left">
                    <blockquote class="blockquote">
                        <img src="../../assets/img/Bilal.jpeg" class="img-fluid img-thumbnail rounded-circle float-end" alt="Resposnive image" width="120" height="130">
                    <p class="h6 fw-normal" style="color: black;">"Aqeish has been a friend, a mentor and a tech geek. His lean approach in doing anything and everything are reaping fruits for our team even years after he left the organisation. Aqeish built and designed dashboards for out teams performance matrix which has added to the efficiency and effectiveness of our all teams SLAs. It was a delight to work eith Aqeish and feel the passion he brings to the table."</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Bilal Hassan, Product Owner at S&P Global on <cite title="Source Title">LinkedIn</cite>
                    </figcaption>
                </figure>
                <figure class="text-left">
                    <blockquote class="blockquote">
                        <img src="../../assets/img/William.jpeg" class="img-fluid img-thumbnail rounded-circle float-end" alt="Resposnive image" width="120" height="130"> 
                        <p class="h6 fw-normal" style="color: black;">"I had the pleasure of working with Aqeish at S&P Global over several years and was always very impressed by his professionalism and curiosity and willingness to learn new things. We collaborated on many client agreements as he was part of our Client Ops Team and I work for the divisional legal team. He was always complimentary and appreciative for any assistance and he was never afraid to ask if he wanted to obtain additional information for his own knowledge. He was always diligent and proactive. He is an great asset for any company to have on their staff."</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        William Crickmore, Experienced Contract Negotiator at S&P Global on <cite title="Source Title">LinkedIn</cite>
                    </figcaption>
                </figure>
                <figure class="text-left">
                    <blockquote class="blockquote">
                        <img src="../../assets/img/Shazaib.jpeg" class="img-fluid img-thumbnail rounded-circle float-end" alt="Resposnive image" width="120" height="130">
                        <p class="h6 fw-normal" style="color: black;">"Aqeish is someone you can count on! It was a great privilege to have worked with him, he is an excellent team leader and someone you can count on. I happened to work on his team for over 6 months and he was always my go to guy as he always understood the situation in detail and come up with solutions thats work for the team!"</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Shahzaib Qureshi, Senior Commercial Manager at Sunshine Security Group on <cite title="Source Title">Linkedin</cite>
                    </figcaption>
                </figure>
                <figure class="text-left">
                    <blockquote class="blockquote">
                        <img src="../../assets/img/Fahad.jpeg" class="img-fluid img-thumbnail rounded-circle float-end" alt="Resposnive image" width="120" height="130">
                        <p class="h6 fw-normal" style="color: black;">"It’s rare that you come across standout talent like Aqeish. He expertly filled the role of Senior Sales Marketing Officer, for my company’s marketing team in a short span. I was particularly impressed by Aqi's ability to handle even the toughest clients—and effortlessly. That skill often takes years to develop among customer service professionals, but it seemed to come naturally to him. His personality is as entertaining as his voice. Aqi will be an asset to any company and I wish him all the best for his future."</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Fahad A.R Mohmand, Director, Customer & Product Excellence at SkyElectric Pvt. Ltd. on <cite title="Source Title">Linkedin</cite>
                    </figcaption>
                </figure>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Featured Links</h2>
            <ul>
            <li><a href="https://comp229-angular-safaridevelopers-surveysite.azurewebsites.net" target="_blank">Survey Lifecycle Management Website Project</a></li>
            <li><a href="https://github.com/AqeishParvez" target="_blank">My GitHub Repository</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Connect with me</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="mailto:aqeish.parvez@gmail.com" target="_blank" class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                </svg>
                            Email
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.linkedin.com/in/aqeish/" target="_blank" class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                            </svg>
                            LinkedIn
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/contact" class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                              </svg>
                            Call
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="https://github.com/AqeishParvez" class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                              </svg>
                            Github
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>