<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome to our survey site!</h1>
            <p>Please take a moment to fill out our surveys and share your feedback with us.</p>
            <div class="col-md-10 text-center">
                <a href="/survey-list" class="btn btn-success" style="width: 15ch ;" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                    Survey List
                </a>
            </div>
            <br>
            <p>If you would like to create a survey, feel free to make an account with us today!</p>
            <div class="col-md-10 text-center">
                <a href="/register" class="btn btn-warning" style="width: 15ch ;" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                      </svg>
                    Register
                </a>
            </div>
            <br>
            <h3>Featured Surveys</h3>
            <ul>
                <li><a href="/run-survey?id=64447f23106a894b51afafe2">Safari Developers: Employee Engagement Survey</a></li>
                <li><a href="/run-survey?id=6444816d106a894b51afb068">Safari Developers: Website Feedback</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>Learn more about Safari Developers, the startup web-application development company that operates locally but provides software solutions globally.</p>
            <div class="col-md-10 text-center">
                <a href="/about" class="btn btn-primary" style="width: 15ch ;" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                    </svg>
                    Read More
                </a>
            </div>
            <h3>Testimonials</h3>
            <p>"I've been using Safari Developers' survey tool for months now and it's been a game-changer for my business. Highly recommended!" - Jane Doe</p>
            <h3>Connect with us</h3>
            <ul>
                <li><a href="https://twitter.com/SafariDevs">Twitter</a></li>
                <li><a href="https://www.facebook.com/SafariDevs">Facebook</a></li>
                <li><a href="https://www.linkedin.com/company/safari-developers">LinkedIn</a></li>
            </ul>
            <h3>FAQs</h3>
            <ul>
                <li><strong>How do I create a survey?</strong> To create a survey, simply sign up for an account and follow the prompts on the survey creation page.</li>
                <li><strong>Is my data secure?</strong> Yes, we take data security very seriously and use the latest encryption technology to protect your information.</li>
                <li><strong>How many responses can I collect?</strong> With a free account, you can collect up to 100 responses per survey. For unlimited responses, consider upgrading to a premium account.</li>
            </ul>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<br><br><br>