  <div class="container-fluid">
    <h1>Projects and Services</h1>
    <p>From web applications to mobile apps, I have the expertise and experience to bring your ideas to life.</p>
    <div class="row">
      <div class="alert alert-light col-md-12" style="color: black;">
        <h2>Services</h2>
        <hr>
        <p>I offer a wide range of software development services, including:</p>
        <ul>
          <li>Web application development</li>
          <li>Mobile app development</li>
          <li>Custom software development</li>
          <li>Enterprise Software development</li>
          <li>Quality Assurance development</li>
          <li>Software unit testing</li>
        </ul>
      </div>
    </div>
    <h2>Projects</h2>
    <div>
      <h4 class="fw-bold">Survey Lifecycle Management Website</h4>
      <a>Developed a website to create, edit, run surveys and view results dashboard using Angular frontend, Node JS and Express backend, MongoDB database and MS Azure for cloud hosting to query and manipulate data, develop scripts, and display results on browser. To visist this survey website that I created
        <span class="actions">
          <a class="" href="https://comp229-angular-safaridevelopers-surveysite.azurewebsites.net" target="_blank" >
            click here!
          </a>
          <div class="embed-responsive text-center embed-responsive-16by9">
            <iframe width="840" height="473" src="https://www.youtube.com/embed/uehp8PvSFTQ" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </span></a>
        <div class="alert alert-primary" style="color: black;">
          <p>
            <span class="fw-bold">Update: </span> This website now also hosts the survey lifecycle management webpage, which can be accessed through the button below:
          </p><hr>
        <div class="text-center">
        <a class="btn btn-primary text-nowrap" routerLinkActive="active" routerLink="/survey-list" aria-current="page" href="/survey-list">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
            <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
          </svg>
          Explore Surveys
        </a>
        </div>
      </div>
    </div>
    <br>
    <div>
      <h4 class="fw-bold">Hospital Database Management Mobile Application
      </h4>
      <a>Created a mobile application in Android Studio using Room Persistence Library, MVVM pattern, entity, DAO, view model, repository, database, intents, and shared preferences that allowed nurses to login, add, or edit patient and add record or view tests performed</a>
      <div class="embed-responsive text-center embed-responsive-16by9">
        <iframe width="840" height="473" src="https://www.youtube.com/embed/5AoTKNGfrZY" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row alert alert-light" style="color: black;">
      <h2>Contact Me</h2>
      <hr>
      <p>Ready to get started? Contact me today to learn more about my software development services and how I can help your business succeed.</p>
      <div class="col-md-12 text-center">
        <a href="/contact" class="btn btn-dark text-nowrap" style="width: auto;" role="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
            Contact Me
        </a>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>