<div class="survey-list">
    <ul *ngFor="let survey of surveyCreators">
        <li key={item.id}>
            <a [routerLink]="['/edit-survey']" [queryParams]="{ id: survey._id }">{{survey.name}}</a>
            <a class="run-link" [routerLink]="['/run-survey']" [queryParams]="{ id: survey._id }">
              <button type="button" class="btn btn--primary">
                Run
              </button>
            </a>
            <a class="edit-link" [routerLink]="['/edit-survey']" [queryParams]="{ id: survey._id }">
              <button type="button" class="btn btn--primary">
                Edit
              </button>
            </a>
            <a class="edit-link" [routerLink]="['/survey-results']" [queryParams]="{ id: survey._id }">
              <button type="button" class="btn btn--primary">
                Results
              </button>
            </a>
            <button type="button" class="btn btn--danger" *ngIf="isLoggedIn" (click)="removeSurvey(survey._id)">Remove</button>
          </li>
    </ul>
    <button class="add-btn" type="button" (click)="addNewSurvey()">Add New Survey</button>
</div>