<!DOCTYPE html>
<html>
<head>
  <title>Services</title>
</head>
<body>
  <h1>Our services we provide are survey generators</h1>
  <p>We specialize in creating custom survey generators for businesses of all sizes.</p>
  <p>Our team of experts will work with you to develop a survey that meets your unique needs and delivers the insights you need to grow your business.</p>
  <p>Contact us today to learn more about our survey generator services!</p>
  <p>Click here to Contact Us!</p>
  <br>
  <a router-link ="/contact" class="btn btn-primary" href="/contact" role="button">About Us</a>
  <br>
  <br>
  <p>Click here to get started in creating surveys!</p>
  <br>
  <a router-link ="/survey-creator" class="btn btn-primary" href="/login" role="button">Create a Survey</a>
</body>
</html>
